#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT     0
#define CAPS        1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &none       &kp TAB     &kp CAPS    &none       &none        &kp ESC      &kp RET      &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
            >;
        };
    };
};