#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT     0
#define CAPS_LAYER  1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &none       &kp TAB     &kp CAPS    &none       &none        &kp ESC      &kp RET      &none
                &kp LCTRL   &none       &none       &none       &none        &none        &kp ENTER    &none
                &kp N1      &kp Q       &kp A       &kp Z       &none        &none        &none        &none
                &kp N2      &kp W       &kp S       &kp X       &none        &none        &none        &none
                &none       &kp LSHIFT  &none       &none       &none        &kp RSHIFT   &kp COMMA    &none
                &none       &none       &none       &none       &none        &none        &kp LALT     &none
                &none       &none       &none       &kp LCMD    &none        &none        &none        &none
                &kp N3      &kp E       &kp D       &kp C       &kp KP_DOT   &none        &kp LBKT     &none
                &kp N4      &kp R       &kp F       &kp V       &kp N0       &none        &kp RBKT     &kp BSPC
                &kp N5      &kp T       &kp G       &kp B       &kp LEFT     &none        &none        &none
                &kp N6      &kp Y       &kp H       &kp N       &kp RIGHT    &kp UP       &none        &none
                &kp N7      &kp U       &kp J       &kp M       &kp DOWN     &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
                &none       &none       &none       &none       &none        &none        &none        &none
            >;
        };

        caps_layer {
            bindings = <
                &trans      &trans      &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans      &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &kp LS(Q)   &kp LS(A)   &kp LS(Z)   &trans       &trans       &trans       &trans
                &trans      &kp LS(W)   &kp LS(S)   &kp LS(X)   &trans       &trans       &trans       &trans
                &trans      &trans      &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans      &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans      &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &kp LS(E)   &kp LS(D)   &kp LS(C)   &trans       &trans       &trans       &trans
                &trans      &kp LS(R)   &kp LS(F)   &kp LS(V)   &trans       &trans       &trans       &trans
                &trans      &kp LS(T)   &kp LS(G)   &kp LS(B)   &trans       &trans       &trans       &trans
                &trans      &kp LS(Y)   &kp LS(H)   &kp LS(N)   &trans       &trans       &trans       &trans
                &trans      &kp LS(U)   &kp LS(J)   &kp LS(M)   &trans       &trans       &trans       &trans
                &trans      &kp LS(I)   &kp LS(K)   &trans      &trans       &trans       &trans       &trans
                &trans      &kp LS(O)   &kp LS(L)   &trans      &trans       &trans       &trans       &trans
                &trans      &kp LS(P)   &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans      &trans      &trans      &trans       &trans       &trans       &trans
            >;
        };
    };
};