#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &custom_kscan;
    };

    custom_kscan: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        wakeup-source;
        /* Rows = MCP23017 pins (0–15 → GPA0..GPA7, GPB0..GPB7) */
        row-gpios = <&ext1 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&ext1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;


        /* Cols = GPIOs from the XIAO (replace PINx with actual pins used) */
        col-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>,   /* Column 0 */
                    <&gpio0 3 GPIO_ACTIVE_LOW>,  /* Column 1 */
                    <&gpio0 28 GPIO_ACTIVE_LOW>,  /* Column 2 */
                    <&gpio0 29 GPIO_ACTIVE_LOW>,  /* Column 3 */
                    <&gpio0 11 GPIO_ACTIVE_LOW>,  /* Column 4 */
                    <&gpio0 12 GPIO_ACTIVE_LOW>,  /* Column 5 */
                    <&gpio0 13 GPIO_ACTIVE_LOW>,  /* Column 6 */
                    <&gpio0 14 GPIO_ACTIVE_LOW>;  /* Column 7 */

    };
};
